[submodule "vendor/github.com/PuerkitoBio/goquery"]
	path = vendor/github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/andybalholm/cascadia"]
	path = vendor/github.com/andybalholm/cascadia
	url = https://github.com/andybalholm/cascadia
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context
